body {
	background-color: #222;
	font-family: sans-serif;
}

h2, h3, label {
	color: #fff;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

p {
	color: #fff;
	text-align: center;
	font-family: 'Krub', sans-serif;
}

/* bg url assigns a background image to the sliders */
.spec-slider-container {
	width: 500px;
	background: url('https://puu.sh/BUnu9/39bdd97be5.png') top left no-repeat;
	background-size: 100% 100%;
	padding: 50px;
	margin-bottom: 20px;
	margin: 0 auto;
}

.num-slider-container {
	width: 500px;
	background: url('https://puu.sh/BV5fG/e48ae55735.png') top left no-repeat;
	background-size: 100% 100%;
	padding: 50px;
	margin-bottom: 20px;
	margin: 0 auto;
}

.question {
	text-align: center;
	padding: 2em;
}

h1 {
	color: #fff;
	margin: auto;
	font-size: 48px;
	padding: 20px 50px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	animation: glow 10s infinite;
}

/* Animation keyframes for the header glow */
@keyframes glow {
	0% {text-shadow: 0 0 40px #FF0000}
	15% {text-shadow: 0 0 40px #FF5D00}
	30% {text-shadow: 0 0 40px #FFD800}
	45% {text-shadow: 0 0 40px #36FF00}
	60% {text-shadow: 0 0 40px #00FFE0}
	75% {text-shadow: 0 0 40px #0070FF}
	90% {text-shadow: 0 0 40px #FF00E4}
	100% {text-shadow: 0 0 40px #FF0000}
}

button {
	height: 100px;
	width: 250px;
	margin: 5px;
	background-color: #222;
	color: #fff;
	border: 3px solid #fff;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
}

button:hover {
	background-color: #fff;
	color: #222;
}

button:active {
	background-color: #B5D3FF;
	color: #222;
	border: 3px solid #B5D3FF;
}

.swatch {
	height: 50px;
	width: 150px;
	margin: 0 auto;
}

#redSwatch {
	background-color: red;
}

#yellowSwatch {
	background-color: #fff333;
}

#cyanSwatch {
	background-color: #48f1ff;
}

#goldSwatch {
	background-color: #ffda33;
}

#pinkSwatch {
	background-color: #ff26eb;
}

.result {
	color: #fff;
	width: 200px;
	height: 50px;
	padding: 2em;
	font-size: 24px;
	margin: 0 auto;
}

.q10result {
	color: #fff;
	width: 500px;
	padding: 1em;
	font-size: 20px;
	margin: 0 auto;
}

#endButtonWrapper {
	text-align: center;
}

.endScore {
	font-size: 48px;
}